name: "{{rendered_model_name}}"
backend: "pytorch"
max_batch_size: {{max_batch_size}}
input [
  {
    name: "input__0"
    data_type: TYPE_INT8
    dims: [ 1, {{items_per_batch}} ]
  }
]
output [
  {
    name: "output__0"
    data_type: TYPE_INT8
    dims: [ 1, {{items_per_batch*num_bits}} ]
  }
]

dynamic_batching {}

{%if device == 'cpu'%}
instance_group [
	{
		count: 1
		kind: KIND_CPU
	}
]
optimization { execution_accelerators {
  cpu_execution_accelerator : [ {
    name : "openvino"
  }]
}}
{%elif device == 'gpu'%}
instance_group [
	{
		count: 1
		kind: KIND_GPU
	}
]
{% endif %}